@media (max-width: 992px){
.header {
    margin: 0 auto;
    width: 92%;
}
.promo{
    &__wrapper{
        width: 96%;
    }
}
.title {
        font-size: 28px;
    }
.goal {
    
    &__descr {
        margin: 0 auto;
        margin-top: 62px;
        width: 92%;
    }
    &__content {
        width: 208px;
        font-size: 12px;
        span {
            font-size: 17px;
        }
    }
}
.consultation {
    .title_left {
        font-size: 32px;
        margin-left: 25px
        
    }
    &__descr {
        margin-left: 25px;
        margin-top: 76px;
        font-size: 18px;
    }
    .feed-form {
        margin-left: 25px;
    }
}
.catalog {
    &__tabs{
        padding: 0 20px;
        margin-top: 60px;
    }
    &__content {
        justify-content: center;
    }
}
.comment {
    &__block {
        align-items: center;
        &_descr {
            flex-direction: column;
            img {
                margin: 0 auto;
            }
        }
        &_title {
            text-align: center;
            margin-top: 20px;
        }
        &_text {
            text-align: center;
            span {
                text-align: center;
            }
        }
    }
}
}
@media (max-width: 768px){
.official_active{
    display: none;
} 
.promo {
    &__wrapper {
        align-items: center;
        width: 100%;
    }
}
.title {
        font-size: 26px;
    }
.goal{
    
    &__descr {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    &__content {
        padding: 17px;
        border: 1px solid #c0c0c078;
        width: 290px;
        margin-bottom: 25px;
        font-size: 14px;
        span {
            font-size: 19px;
        }
    }
    &__content__nbm {
        margin-bottom: 0;
    }
}
.carousel {
    &__inner {
        width: 98%;
        div {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    ul {
        width: 100%;
    }
}
.catalog {
    .title {
        font-size: 21px;
    }
    &__tabs{
        padding: 0 20px;
        margin-top: 60px;
    }
    &__tab {
        min-width: 172px;
        font-size: 17px;
    
        &:hover {
            box-shadow: none;
        }
       
    }
    &__content {
        justify-content: center;
    }
    &-item {
        margin: 0 10px;
        margin-bottom: 20px;
        &__wrapper {
            position: relative;
            width: 100%;
            flex-wrap: wrap;
        }
   
        &__content {
            width: 100%;
            transform: none;
            background-color: white;
            &_active {
                transform: none;
                margin: 0;
                z-index: 10;
            }
        }
        &__list {
            position: absolute;
            width: 100%;
            min-height: 340px;
            margin: 0;
            padding: 0;
            padding-left: 19px;
            margin-bottom: 0;
            transform: none;
            background-color: white;
            &_active {
                transform: none;
                margin: 0;
                z-index: 11;
            }
        }
        &__block {
            transform: translateX(calc(-50% - 10px));
        }
    }
}
.comment {
    &__block {
        align-items: center;
        &_descr {
            flex-direction: column;
            img {
                margin: 0 auto;
            }
        }
        &_title {
            text-align: center;
            margin-top: 20px;
        }
        &_text {
            width: 100%;
            text-align: center;
            span {
                text-align: center;
            }
        }
    }
}
.footer {
    &__info {
        width: 100%;
        top: auto;
        bottom: -270px;
    }
}
}


@media (max-width: 576px){
.header {
    &__logo {
        width: 55%;
    }
    &__phone {
        font-size: 14px;
    }
    button {
        line-height: 30px;
        width: 120px;
        font-size: 9px;
    }
}
.iconns__active {
    display: none;
}
.promo {
    min-height: 555px;
    padding-bottom: 45px;
    &__wrapper {
        text-align: center;
    }
    &__header {
        font-size: 34px;
    }
    &__subheader {
        font-size: 19px;
    }
}
.title {
        font-size: 23px;
    }
.goal {
    
    &__content {
        width: 270px;
    }
}
.consultation {
    .feed-form{
        width: 281px;
        margin: 0 auto;
        margin-top: 36px;
    }
    .title_left {
        font-size: 28px;
        text-align: center;
        margin: 0;
    }
    &__descr {
        margin: 0 10px; 
        margin-top: 75px;
        text-align: center;
        font-size: 17px
    }
}
.carousel {
    &__inner {
        width: 98%;
        div {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    ul {
        width: 100%;
    }
    
}
.catalog {
    .title {
        font-size: 21px;
    }
    &__tabs{
        padding: 0 20px;
        margin-top: 60px;
    }
    &__tab {
        min-width: 86px;
        font-size: 9px;
        &:hover {
            box-shadow: none;
        }
       
    }
    &__content {
        justify-content: center;
    }
    &-item {
        &__wrapper {
            position: relative;
            width: 100%;
            flex-wrap: wrap;
        }
   
        &__content {
            width: 100%;
            transform: none;
            background-color: white;
            &_active {
                transform: none;
                margin: 0;
                z-index: 10;
            }
        }
        &__list {
            position: absolute;
            width: 100%;
            min-height: 340px;
            margin: 0;
            padding: 0;
            padding-left: 19px;
            margin-bottom: 0;
            transform: none;
            background-color: white;
            &_active {
                transform: none;
                margin: 0;
                z-index: 11;
            }
        }
        &__block {
            transform: translateX(calc(-50% - 10px));
        }
    }
}
.comment {
    &__block {
        &_text {
            width: 96%;
            margin: 0 auto;
            font-size: 15px;
        }
    }
}
#consultation {
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    
}
#order {
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    
}
#thanks {
    width: 83%; 
    padding: 38px 48px 41px 48px;
}
.modal {
    &__close {
        right: -26px;
    }
    &__subtitle {
        font-size: 14px;
    }
    &__descr {
        font-size: 12px;
    }
    label.error {
        font-size: 12px;
        margin-bottom: 11px;
    }
    form {
        width: 96%;
    }
}
}